@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Google Sans;
    src: url(font/google-sans/GoogleSansText-Regular.ttf);
}

@font-face {
    font-family: Google Sans;
    font-weight: bold;
    src: url(font/google-sans/GoogleSansText-Bold.ttf);
}

body, html, p, span, h1, h2, h3, h4, h5 {
    font-family: 'Google Sans', 'Roboto', Arial, sans-serif;
}

md-icon, .icon, #icon, [icon] {
    font-family: 'Material Symbols Outlined';
}

table, td, tr {
    padding: 0;
    border-top-left-radius: 10px;
}


img[src=""] {
    display: none !important;
}

#level .tile {
    position: relative;
    top: 0;
    left: 0;
}

:root {
    --scaleWidth: 1;
    --scaleHeight: 1;
}

.break {
    flex-basis: 100%;
  }

.cannonsettings tr:nth-child(1){
    width: 19%;
}

.cannonsettings td{
    width: 27%;
}

.cannonsettings td p{
    font-size: 80%;
    text-align: center;
}

td[candy_cannon = '["005"]'][candy_entrance = "026"] .candy_cannon {
    content:url("elements/candy_cannon_invisible.png") !important;
    display: block !important;
}

td[candy_cannon = '["005"]'] .candy_cannon {
    content:url("elements/candy_cannon_invisible_all.png") !important;
    display: block !important;
}

td[candy_cannon = '[]'] .candy_cannon, td[candy_cannon = ""] .candy_cannon {
    content:url("") !important;
}

td[candy_cannon = '[]'] .ammocontainer, td[candy_cannon = ""] .ammocontainer {
    display: none !important;
}

td .candy_cannon {
    content:url("elements/candy_cannon.png") !important;
    display: block !important;
    pointer-events: none;
}

#level {
    transform: scale(var(--scaleWidth, --scaleHeight));
    z-index: 10;
    color: white;
    margin-left: auto;
    margin-right: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.MergePro {
    font-family: "MergePro";
}

.DroidSans {
    font-family: "DroidSans"
}

.buttons {
    display: flex;
    flex-direction: column;
}

.colorselected, .elementselected, .preferredselected {
    background-color: var(--md-sys-color-secondary-container) !important;
    border-radius: 5px;
    position: relative;
}

.navbarflex {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.selectionimage {
    max-width: 40px;
    max-height: 40px;
}

.sidetitle{
    border: none;
    height: 45px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.sidetitledream{
    background: repeating-linear-gradient(
        45deg,
        #873ee6,
        #873ee6 10px,
        #702bb1 10px,
        #702bb1 20px
      );
    border: none;
    height: 45px;
    padding: 0;
    margin: 0;

    width: 100%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.sideselectionright {
    height: 100%; 
    width: 20%; 
    position: fixed; 
    z-index: 1; 
    bottom: 0; 
    right: 0;
    overflow-x: hidden; 
}

#exportmenu, #importmenu, #creditsmenu {
    position: fixed; 
    width: 100vw; 
    height: 100vh; 
    background-color: #000000b5; 
    z-index: 100;
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    top: 0; 
    left: 0;
}

img[src="elements/cake_top_left.png"], img[src="elements/cake_bottom_left.png"]{
    position: absolute;
    right: -11% !important;
    z-index: 3;
}

img[src="elements/cake_top_right.png"], img[src="elements/cake_bottom_right.png"]{
    position: absolute;
    right: 100% !important;
    z-index: 3;
}

.sideselection {
    margin-top: 40px;
    height: 100%; 
    width: 20%; 
    position: fixed; 
    z-index: 1; 
    bottom: 0; 
    left: 0;
    overflow-x: hidden; 
  }

.sideoptions {
    border: none;
    min-height: 45px;
    padding: 10px;
    margin: 0;

    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sideoptionsdream {
    background: linear-gradient(279deg, rgba(135,62,230,1) 5%, rgba(74,29,117,1) 77%);
    border: none;
    min-height: 45px;
    padding: 10px;
    margin: 0;

    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-top-color: #40136b;
    border-bottom-color: #40136b;
    border-left-color: transparent;
    border-right-color: transparent;
    --md-sys-color-background:#141317;--md-sys-color-on-background:#e5e1e7;--md-sys-color-surface:#141317;--md-sys-color-surface-dim:#141317;--md-sys-color-surface-bright:#3a383d;--md-sys-color-surface-container-lowest:#0e0e12;--md-sys-color-surface-container-low:#1c1b1f;--md-sys-color-surface-container:#201f24;--md-sys-color-surface-container-high:#2a292e;--md-sys-color-surface-container-highest:#353439;--md-sys-color-on-surface:#e5e1e7;--md-sys-color-surface-variant:#474550;--md-sys-color-on-surface-variant:#c9c4d1;--md-sys-color-inverse-surface:#e5e1e7;--md-sys-color-inverse-on-surface:#313034;--md-sys-color-outline:#928f9b;--md-sys-color-outline-variant:#474550;--md-sys-color-shadow:#000000;--md-sys-color-scrim:#000000;--md-sys-color-surface-tint:#c7bfff;--md-sys-color-primary:#e5dfff;--md-sys-color-on-primary:#2f2766;--md-sys-color-primary-container:#bab1fa;--md-sys-color-on-primary-container:#2b2362;--md-sys-color-inverse-primary:#5e5697;--md-sys-color-secondary:#c8c3e3;--md-sys-color-on-secondary:#302d46;--md-sys-color-secondary-container:#403c56;--md-sys-color-on-secondary-container:#d6d0f1;--md-sys-color-tertiary:#ffd9ef;--md-sys-color-on-tertiary:#521b45;--md-sys-color-tertiary-container:#eea2d4;--md-sys-color-on-tertiary-container:#4e1741;--md-sys-color-error:#ffb4ab;--md-sys-color-on-error:#690005;--md-sys-color-error-container:#93000a;--md-sys-color-on-error-container:#ffdad6;
}

.leveltypelabel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.selectimg {
    display: none;
    z-index: 10 !important;
}

.selected .selectimg {
    display: block !important;
}

.dropped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.dropped button, .preferred{
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    line-height: 65px;
    padding: 0;
    margin: 1%;
}

.dropped button:hover, .preferred:hover{
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
}

#level .object {
    position: absolute;
    max-width:72px;
    max-height:64px;
    height: auto;
    width: auto;
}

.vertical-center {
    margin: 0;
    position: absolute; 
    z-index: 9;
  }

#level .walldown {
    position: absolute;
    bottom: -100%;
    z-index: 2;
    pointer-events: none;
}

#level .wallup {
    position: absolute;
    bottom: 100%;
    z-index: 2;
    pointer-events: none;
}

#level .wallleft {
    position: absolute;
    right: 100% !important;
    left: 0 !important;
    z-index: 2;
    pointer-events: none;
}

#level .wallright {
    position: absolute;
    right: -100%;
    z-index: 2;
    pointer-events: none;
}

#level .stretched {
    max-width:72px;
    max-height:64px;
    width: max-content !important;
    height: max-content !important;
}

#level .small {
    max-width:64px !important;
    max-height:56px !important;
}

#level img[src="elements/hazelnut.png"] {
    max-width:58px !important;
    max-height:50px !important;
}

.navbar {
    overflow: hidden;
    background: repeating-linear-gradient(
        45deg,
        #f1c0dc,
        #f1c0dc 10px,
        #f0aad0 10px,
        #f0aad0 20px
      );
    border-style: solid;
    border-width: 2px;
    border-color: #db6faa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    z-index: 6;
  }

#level .ingredients_exit {
    position: absolute;
    max-width: 32px !important;
    max-height: 32px !important;
    bottom: -120%;
    z-index: 3;
    pointer-events: none;
}

#level .ammocontainer {
    position:absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
    justify-content:center;

    pointer-events: none;

    left: 5;

    margin: 0;
    padding: 0;
    max-width: 64px !important;
    height: 45px;
    bottom: 100%;
}

#level .ammocontainer img:first-child:nth-last-child(n + 2),
#level .ammocontainer img:first-child:nth-last-child(n + 2) ~ img{
    max-width: 50%;
}

#level .ammocontainer img:first-child:nth-last-child(n + 3),
#level .ammocontainer img:first-child:nth-last-child(n + 3) ~ img{
    max-width: 33%;
}

#level .ammocontainer img:first-child:nth-last-child(n + 7),
#level .ammocontainer img:first-child:nth-last-child(n + 7) ~ img{
    max-width: 25%;
}

#level .ammocontainer img:first-child:nth-last-child(n + 13),
#level .ammocontainer img:first-child:nth-last-child(n + 13) ~ img{
    max-width: 20%;
}

#level .ammocontainer img {
    max-width: 60%;

    margin: 0;
    padding: 0;
    z-index: 11;

    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: auto;

    position: static
}

#level .candy_cannon {
    position: absolute;
    bottom: 170%;
    z-index: 3;
    pointer-events: none;
}

#level .candy_entrance {
    position: absolute;
    max-width: 28px !important;
    max-height: 28px !important;
    bottom: 80%;
    z-index: 3;
    pointer-events: none;
}

#level .fence_down {
    position: absolute;
    bottom: -100%;
    z-index: 3;
    pointer-events: none;
}

#level .cakebomb {
    position: absolute;
    z-index: 3;
    bottom: -100%;
    left: 10% !important;
    max-width:144px !important;
    max-height:128px !important;
}

#level .default {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width:72px;
    max-height:64px;
}

#level .rainbow_cannon_top {
    position: absolute;
    bottom: 170%;
    z-index: 2;
    pointer-events: none;
}

#level .rainbow_cannon_bottom {
    position: absolute;
    top: 85%;
    z-index: 2;
    pointer-events: none;
}

#level .rainbow_cannon_left {
    position: absolute;
    transform: translateX(-30px);
    z-index: 2;
    pointer-events: none;
}

#level .rainbow_cannon_right {
    position: absolute;
    left: 61%;
    z-index: 2;
    pointer-events: none;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#background {
    position: absolute;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0;
    margin-bottom: 0;
    width: 60vw;
    height: 100%;
    padding: 0;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.popup {
    width: 40%;
    height: 50%;
    margin: auto;
    background-color: #545454;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#level img {
    top: 0px;
    left: 0px;
    bottom: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    position: absolute; 
    margin: auto;
    right: 0;
    text-align: center;
    z-index: 1;
}

.dreamworld-card {
    background: linear-gradient(279deg, rgb(242, 233, 255) 5%, rgb(229, 199, 255) 77%);
    color: #ffffff;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

#isOwlModeEnabled {
    --mdui-color-primary-light: rgb(96, 80, 174);
}

.quick-access-acent {
    --md-sys-color-primary: #000000;
    font-weight: normal;
}

.quick-access md-text-button {
    width: 90px;
}

.menu {
    box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.19);
    user-select: none;
    border-radius: 5px;
}

body {
    position: relative;
}

.overlay-loading {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff56;
    backdrop-filter: blur(10px);
}

body {
    opacity: 0; /* Start with the body hidden */
    transition: opacity 0.5s ease-in; /* Transition effect for opacity */
}

body.fade-in {
    opacity: 1; /* Fully visible when the class is added */
}

.example-top-app-bar {
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: #dbdbdb5d;
    border-bottom: 1px solid #ffffffc0;
}

.uploadfiles-area {
    width: 99%;
    height: 200px;
    border: 2px dashed #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #92929270;
    flex-direction: column;
    border-radius: 10px;
    user-select: none;
}


:root, :host {
    --progress-value: 0;
    --gm3-circular-progress-size: 48px;
}

.loading-container {
    display: block;
    width: 48px;
    height: 48px;
}

.progrcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    --gm3-circular-progress-size: 48px;
    --progress-value: 0;
}

.progressbar {
    height: calc(var(--gm3-circular-progress-size, 40px));
    width: calc(var(--gm3-circular-progress-size, 40px));
    animation: mdc-circular-progress-ntc-rotate 6s linear infinite;
}

.progress-wrapper {
    position: absolute;
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    animation: mdc-circular-progress-ntc-container-rotate 6s ease infinite;
}

.circular-progress {
    --size: 250px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 20px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
    height: 100%;
    width: 100%;
}

.circular-progress circle {
    fill: none;
    stroke-linecap: round;
}

.circular-progress circle.bg {
    transition: stroke-dasharray .5s 0ms cubic-bezier(0,0,.2,1),stroke-dashoffset .5s 0ms cubic-bezier(0,0,.2,1),stroke-width .25s 0ms cubic-bezier(.4,0,.6,1)  ;
    stroke: #c2e7ff;
    cx: calc(var(--gm3-circular-progress-size, 40px)/2);
    cy: calc(var(--gm3-circular-progress-size, 40px)/2);
    r: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))/2);
    stroke-dasharray: calc((1 - var(--progress-value, 0))*((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2) - var(--gm3-circular-progress-active-indicator-thickness, 4px)) calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - (1 - var(--progress-value, 0))*((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2) + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    stroke-dashoffset: calc((1 - var(--progress-value, 0))*((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2) - var(--gm3-circular-progress-active-indicator-thickness, 4px) + var(--gm3-circular-progress-active-indicator-track-space, 4px) + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    stroke-linecap: round;
    stroke-width: var(--gm3-circular-progress-active-indicator-thickness,4px);
    animation: mdc-circular-progress-track-grow 6s ease infinite;
}

.circular-progress circle.fg {
    transition: stroke-dasharray .5s 0ms cubic-bezier(0,0,.2,1),stroke-width .25s 0ms cubic-bezier(.4,0,.6,1);
    cx: calc(var(--gm3-circular-progress-size, 40px)/2);
    cy: calc(var(--gm3-circular-progress-size, 40px)/2);
    r: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))/2);
    stroke: #0b57d0;
    stroke-width: var(--gm3-circular-progress-active-indicator-thickness,4px);
    stroke-dasharray: calc(var(--progress-value, 0)*((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2) - var(--gm3-circular-progress-active-indicator-thickness, 4px)) calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - var(--progress-value, 0)*((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2) + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    stroke-linecap: round;
    animation: mdc-circular-progress-active-grow 6s ease infinite;
}

@keyframes mdc-circular-progress-active-grow {
    0% {
        stroke-dasharray: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.16 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.16 - var(--gm3-circular-progress-active-indicator-thickness, 4px)),calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - (var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.16 + var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.16 + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    }
    50% {
        stroke-dasharray: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.87 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.87 - var(--gm3-circular-progress-active-indicator-thickness, 4px)),calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - (var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.87 + var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.87 + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    }
    100% {
        stroke-dasharray: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.16 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.16 - var(--gm3-circular-progress-active-indicator-thickness, 4px)),calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - (var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.16 + var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.16 + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    }
}

@keyframes mdc-circular-progress-track-grow {
    0% {
        stroke-dasharray: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.84 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.84 - var(--gm3-circular-progress-active-indicator-thickness, 4px)),calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - (var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.84 + var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.84 + var(--gm3-circular-progress-active-indicator-thickness, 4px));
        stroke-dashoffset: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.84 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.84 - var(--gm3-circular-progress-active-indicator-thickness, 4px) + var(--gm3-circular-progress-active-indicator-track-space, 4px) + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    }
    50% {
        stroke-dasharray: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.13 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.13 - var(--gm3-circular-progress-active-indicator-thickness, 4px)),calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - (var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.13 + var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.13 + var(--gm3-circular-progress-active-indicator-thickness, 4px));
        stroke-dashoffset: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.13 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.13 - var(--gm3-circular-progress-active-indicator-thickness, 4px) + var(--gm3-circular-progress-active-indicator-track-space, 4px) + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    }
    100% {
        stroke-dasharray: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.84 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.84 - var(--gm3-circular-progress-active-indicator-thickness, 4px)),calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2 - (var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.84 + var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.84 + var(--gm3-circular-progress-active-indicator-thickness, 4px));
        stroke-dashoffset: calc((var(--gm3-circular-progress-size, 40px) - var(--gm3-circular-progress-active-indicator-thickness, 4px))*6.2831852/2*.84 - var(--gm3-circular-progress-active-indicator-track-space, 4px)*2*.84 - var(--gm3-circular-progress-active-indicator-thickness, 4px) + var(--gm3-circular-progress-active-indicator-track-space, 4px) + var(--gm3-circular-progress-active-indicator-thickness, 4px));
    }
}

@keyframes mdc-circular-progress-ntc-container-rotate {
    0% {
        transform: rotate(0deg);
    }
    8.33333% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(90deg);
    }
    33.3333% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    58.3333% {
        transform: rotate(270deg);
    }   
    75% {
        transform: rotate(270deg);
    }
    83.3333% {
        transform: rotate(1turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes mdc-circular-progress-ntc-rotate {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(990deg);
    }
}

.avatar-big-button {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-secondary-container);
    border-radius: 50px;
    margin: 0 auto;
}

.buttonsharing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    gap: 10px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#sharingContainer {
    display: flex;
    gap: 5px;
}

.m3-slider {
  -webkit-appearance: none; /* Remove default webkit appearance */
  appearance: none;
  width: 200px; /* Adjust width as needed */
  height: 5px; /* Adjust height as needed */
  background: #B0C4DE; /* Track background color */
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.m3-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; /* Thumb width */
  height: 15px; /* Thumb height */
  background: #0079D3; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
}

.m3-slider::-moz-range-thumb {
  width: 15px; /* Thumb width */
  height: 15px; /* Thumb height */
  background: #0079D3; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
}

.key-keyb {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--md-sys-color-secondary-container);
}

.beta-text {
    font-size: x-small;
    padding: 5px;
    background: linear-gradient(90deg, rgba(190,186,255,1) 0%, rgba(202,202,255,1) 48%, rgba(217,249,255,1) 100%);
    border-radius: 5px;
    overflow: hidden;
}

.beginning-navd::part(panel) {
    height: 95%;
    border-radius: 30px;
    padding: 15px;
    margin: auto 0;
    margin-left: 10px;
}

.sidebottom {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--md-sys-color-surface-container-low);
    height: 50%;
    bottom: 0;
    overflow: auto;
    left: 0;
}

mdui-tabs {
    height: 100%;
}

mdui-tab-panel {
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: auto;
}


mdui-tabs::part(container) {
    position: relative;
    z-index: 20;
}

version {display: none;}
.settings-fulldialog {
    animation: zoomIn; 
    animation-duration: 0.5s;
}

.zoom-controls {
    position: absolute;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 70px;
    height: 270px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: var(--md-sys-color-background);
    filter: drop-shadow(0px 11px 14px #00000038);
    right: 0;
}

#zoomSlider {
    transform: rotate(-90deg);

}

.footer-href {
    color: initial;
    text-decoration: none;
    font-weight: bold;
}

.chip-version {
    background: linear-gradient(279deg, rgba(132,142,255,1) 5%, rgba(165,176,224,1) 77%);
    padding: 7px;
    border-radius: 10px;
    color: #ffffff;
}

.title-version {
    display: flex;
    place-items: center;
    gap: 10px;
}


iframe {
    background: transparent;
}

pre, code {
    font-family: 'Google Sans Code', monospace;
}